/* @font-face {
font-family: Montserrat;
src:url(‘/fonts/Montserrat.ttf’);
} */
body{
	background: #fff;
}
.top-header{
	background-color: #000;
	height: 40px;
}
.top-header p{
	font-family: Montserrat;
	padding: 5px;
	color: #fff;
	font-size: 16px;
	height: 25px;
}
.top-header-left p{
	padding-top: 10px;	
} 
.top-header-right{
	text-align: right;
}
.menu{
	height: 120px;
} 
.basket{
	display: none;
}
.navbar-default{
	background-color: #fff;
	border: none;
}
.menu-left img{
	padding: 15px;
}
.navbar .nav>li {
	padding-top: 15px;
}
.navbar .nav li a { 
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bolder;
	color: #004936;
}
.navbar .nav li a:hover{
	color: #fff;
	background-color: #004936;
}
.imgmobile{
	display: none;
}
.cartmobile{
	display: none;
}
.textbannermenumobile{
	display: none
}
.textbannermenu{
	position: absolute;
	top: 50px;
	width: 680px;
}
.textbannermenu H1{
	font-family: Montserrat;
	margin: auto;
	color: #004936;
	width: 450px;
	font-size: 44px;	
	line-height: 54px;
}
.textbannermenu p{
	font-family: Montserrat;
	margin: 30px auto 50px auto;
	color: #000;
	font-size: 20px;
	line-height: 28px;
	width: 450px;
}
.textbannermenu .click{
	width: 470px;
	margin: auto;
}
.textbannermenu li{
	display: inline-block;
}
.textbannermenu li a{
	font-family: Montserrat;
	color: #004936;
	text-decoration: none;
	font-size: 16px;
	background-color: #fff;
	border: 1px solid #004936; 
	padding:  15px;
	border-radius: 10px;
}
.textbannermenu li a:hover{
	background-color: #004936;
	color: #fff;
}
.top-main h1{
	font-family: Montserrat;
	font-size: 40px;
	color: #004936;
	padding-top: 30px;
}
.lay1{
	height: 360px;	
	text-align: center;
    padding: 35px 35px 35px 35px;
}
.lay1 h3{
	font-family: Montserrat;
	color: #004936;
	padding: 20px 0px 20px 0px;
	font-size: 22px;
	line-height: 25px;
	}
.lay1 p{
	font-family: Montserrat;
	color: #000;
	font-size: 14px;
	line-height: 23px;
}
.numberst{
	margin: auto;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 5px solid #004936;
	padding:  22px;
}
.immb{
	display: none
}
.click2{
	display: none;
}
.banner-main1mb{
	display: none;
}
.banner-main1{
	margin: 0px 0px 50px 0px;
}
.banner-main1 img{
	width: 80%;
}
.textbanner{
	padding-left:  150px;
	text-align: left;
	position: absolute;
	top: 50px;
}
.textbanner H1{
	font-family: Montserrat;
	color: #004936;
	font-size: 40px;
}
.textbanner H3{
	font-family: Montserrat;
	color: #004936;
	font-size: 24px;
	padding:  60px 0px 20px 0px;
}
.textbanner p{
	font-family: Montserrat;
	color: #000;
	font-size: 20px;
	line-height: 28px;
	width: 450px;
}
.main-center h1{
	font-family: Montserrat;
	color: #004936;
	font-size: 40px;
}
.get{
	margin-top: 60px;
}
.getmb{
	display: none;
}
.get a{
	font-family: Montserrat;
	font-size: 16px;
	border: 1px solid#004936;
	text-decoration: none;
	padding: 10px;
	color: #004936; 
	border-radius: 10px;
}
.get a:hover{
	background-color: #004936;
	color: #fff;
}
.vidmb{
	display: none;
}
.vid img{
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
}
.vid{
	position: relative;
}
.text-vid{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 100px;
}
.text-vid H1{
	font-family: Montserrat;
	font-size: 40px;
}
.text-vid p{
	font-family: Montserrat;
	padding-top: 15px;
	color: #000;
	font-size: 22px;
}
.bot-main h1{
	font-family: Montserrat;
	color: #004936;
	font-size: 40px;
	padding-bottom: 30px;
}
.hd3{
	font-family: Montserrat;
	background-color: #dcb89b;
	color: #000;
	text-align: left;
	font-size: 14px;
	height: 30px;
	padding: 6px 0px 0px 20px;
	width: 95%;
	margin-left: 15px;
}
.hd1{
	font-family: Montserrat;
	background: #9fc8f2;
	color: #000;
	text-align: left;
	font-size: 14px;
	height: 30px;
	padding: 6px 0px 0px 20px;
}
.hd2{
	font-family: Montserrat;
	background: #f5aa50;
	color: #000;
	text-align: left;
	font-size: 14px;
	height: 30px;
	padding: 6px 0px 0px 20px;
}
.im1{
	width: 95%;
	height: 490px
}
.im2{
	width: 115%;
	height: 251px;
}
.textimg1 h2{
	color: #F6F6EF;
	font-family: Montserrat;
	line-height: 23px;
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 15px;
}
.textimg1 p{
	color: #F6F6EF;
	font-family: Montserrat;
	line-height: 23px;
	font-size: 16px;
	padding-bottom: 5px;
}
.textimg1{
	position: absolute;
	top: 320px;
	left: 60px;
	text-align: left;
	width: 500px;	
}
.textimg1 a{
	font-family: Montserrat;
	color: #F6F6EF;
	font-family: Montserrat;
	line-height: 19px;
	font-size: 16px;
}
.text21{
	background-color: #f6f6ef;
	height: 251px;
	/* width: 400px; */
	/* padding-left: 20px; */
}
.text21 h2{
	font-family: Montserrat;
	padding-left: 20px;
	font-size: 24px;
	color: #000;
	text-align: left;
}
.text21 p{
	font-family: Montserrat;
	padding-left: 20px;
	line-height: 23px;
	font-size: 16px;
	color: #000;
	text-align: left;
}
.text21 a{
	font-family: Montserrat;
	padding-left: 20px;
	font-size: 16px;
	color: #000;
}
.text21 h3{
	font-family: Montserrat;
	text-align: left;
}
.text22{
	background-color: #f6f6ef;
	height: 251px;
}
.text22 h2{
	font-family: Montserrat;
	padding-left: 20px;
	font-size: 24px;
	color: #000;
	text-align: left;
}
.text22 p{
	font-family: Montserrat;
	padding-left: 20px;
	line-height: 23px;
	font-size: 16px;
	color: #000;
	text-align: left;
}
.text22 a{
	font-family: Montserrat;
	padding-left: 20px;
	font-size: 16px;
	color: #000;
}
.text22 h3{
	font-family: Montserrat;
	text-align: left;
}
.im3{
	width: 115%;
	height: 251px;
}
.im4{
	width: 115%;
	height: 251px;
}
.text3{
	background-color: #f6f6ef;
	height: 222px;
}
.text3 h2{
	font-family: Montserrat;
	padding-left: 20px;
	font-size: 24px;
	color: #000;
	text-align: left;
}
.text3 p{
	font-family: Montserrat;
	padding-left: 20px;
	line-height: 23px;
	font-size: 16px;
	color: #000;
	text-align: left;
}
.text3 a{
	font-family: Montserrat;
	padding-left: 20px;
	font-size: 16px;
	color: #000;
}
.text3 h3{
	font-family: Montserrat;
	text-align: left;
}
.text4{
	background-color: #f6f6ef;
	height: 222px;
}
.text4 h2{
	font-family: Montserrat;
	padding-left: 20px;
	font-size: 24px;
	color: #000;
	text-align: left;
}
.text4 p{
	font-family: Montserrat;
	padding-left: 20px;
	line-height: 23px;
	font-size: 16px;
	color: #000;
	text-align: left;
}
.text4 a{
	font-family: Montserrat;
	padding-left: 20px;
	font-size: 16px;
	color: #000;
}
.text4 h3{
	font-family: Montserrat;
	text-align: left;

}
.image2{
	padding-top: 20px;
}
.sologan1mb{
	display: none;
}
.sologan1{
	margin-top: 40px;
	padding: 20px 0px 20px 0px;
	background: #f6f6ef;
}
.sologan1 H1{
	font-family: Montserrat;
	color: #004936;
	text-align: center;
	font-size: 30px;
}
.sologan1 input{
	height: 40px; 
	width: 500px;
	margin-top:12px;
	font-family: Montserrat;
	font-size: 18px;
}
.input{
	text-align: center;

}
.sologan1 button {
	background-color:#004936;
	color: #fff;
	height: 40px; 
	width: 100px ; 
	font-family: Montserrat;
	font-size: 16px;
	padding-top: 6px;
}
.sologan2{
	margin: 40px 0px 40px 0px;
}
.sologan2 H1{
	font-family: Montserrat;
	font-size: 40px;
	text-align: center;
	color: #004936;
}
.sologan2 img{
	margin-top: 40px;
}
.text-sologan2{
	position: absolute;
	left: 100px;
	top: 322px;
}
.text-sologan2 H2{
	font-family: Montserrat;
	font-size: 20px;
	color: #000;
	text-align: left;
}
.text-sologan2 p{
	font-family: Montserrat;
	text-align: left;
	font-size: 16px;
	color: #000;
}
.ftmobile{
	display: none;
}
.footer-top{
	border-top: 1px solid #AC9C9C;
	margin-top: 510px;
}
.footer-top H3{
	font-family: Montserrat;
	float: left;
	margin-left: 60px;
	color: #000;
	width: 250px;
	font-size: 16px;
}
.footer-title{
	font-family: Montserrat;
	margin-left: 60px;
	color: #004936;
	padding:50px 0px 0px 0px; 
	font-size: 22px;
}
.footer-bot{
	border-top: 1px solid #AC9C9C;
	margin-top: 60px;
}	
.icon1{
	float: left;
}
.footer-bot p{
	font-family: Roboto;
	color: #000;
	font-size: 16px;
	padding-top: 30px;
}
.icon2{
	float: right;
}

@media all and (max-width: 800px) {

.top-header{
	background-color: #004936;
}
.top-header img{
	display: none;
}
.top-header p{
	margin: auto;
	font-family: Roboto;
	text-align: center;
	font-size: 14px;
}
.top-header-right p{
	display: none;
} 
.basket{
	display: inline;
	font-size: 15px;
	color: #004936;
}
.navbar-header{
	background-color: #fff;
	border: none;
}
.navbar-toggle{
	float: left;
}
.menu{
	height: 60px;
}
.navbar{
	background-color:  #f6f6ef;
}
.menudestop{
	display: none;
}
.imgmobile{
	display: inline;
}
.imgmobile img{
	width: 120px;
	margin-top: 3px;
}
.cartmobile{
	display: inline;
	text-align: right;
	margin-top: 15px;
}
.row{
	margin: auto;
}
.banner{
	padding-top: 120px;
	background-color: #f6f6ef;
	height: 500px;
}
.textbannermenumobile{
	display:inline;
}
.textbannermenumobile H1{
	font-family: Montserrat;
	/* font-weight: bold; */
	font-size: 33px;
	line-height: 39px;
	color: #004936;
	text-align: center;

}
.textbannermenumobile p{
	font-family: Roboto;
	font-size: 22px;
	line-height: 27px;
	color: #316B5A;
	text-align: center;
	margin: 29px 0px 33px 0px;
}
.click h2 a{
	font-family: Roboto;
	font-size: 14px;
	color: #004936;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
}
.click h2 a:hover{
	background: #f5aa50;
	border-radius: 10px;
	width: 100px;
	margin: auto;
}
.slide{
	display: none;
}
.top-main h1{
	/* font-weight: bold; */
	font-family: Montserrat;
	font-size: 28px;	
}
.lay1 img{
	width: 70px;
	height: 80px;
	padding-top: 20px;
}
.lay1{
    padding: 0px;
    box-sizing: border-box;
    height: 330px;
}
.lay1 h3{
	font-family: Montserrat;
	height: 50px;
	padding-top: 10px;
	font-size: 16px;
	line-height: 19px;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.lay1 p{
	font-family: Roboto;
	color: #316B5A;
	font-size: 12px;
	line-height: 17px;
	margin: auto;
	width: 150px;
	padding-top:  20px;
	height: 100px;
}
.sum img{
	width: 20px;
	height: 40px;
}
.banner-main1{
	display: none;
}
.banner-main1mb{
	display: block;
}
.banner-main1mb img{
	width: 100%;
}
.textbanner H1{
	font-size: 10px;
	font-family: Montserrat;
}	
.textbanner H3{
	font-size: 8px;
	font-family: Montserrat;
	padding:  0px;
}
.textbanner p{
	font-family: Montserrat;
	font-size: 5px;
	line-height: 10px;
}
.main-center{
	padding-top: 60px;
	background-color: #004936;
}
.main-center h1{
	font-family: Montserrat;
	padding:  0px 20px 0px 20px;
	font-size: 28px;
	line-height: 34px;
	color: #fff;
}
.get{
	display: none;
}
.getmb{
	width: 100%;
	margin-top: 270px;
	position: absolute;
	display: block;
	border-radius: 10px;
}
.getmb a{
	font-family: Roboto;
	color: #fff;
	font-size: 14px;
	padding: 10px 25px 10px 25px;
	border-radius: 15px;
	text-decoration: none;
	background-color: #004936;
}
.imdt{
	display: none;
}
.immb{
	display: block;
}
.laymb1{
	width: 100%;
	height: 250px;
}
.laymb1 img{
	padding-top: 0px;
	margin: auto;
}
.laymb1 h3{
	font-size: 16px;
	font-family: Montserrat;
	color: #fff;
	padding-bottom: 0px;
}
.laymb1 p{
	font-family: Roboto;
	color: #C4D1CF;
	font-size: 12px;	
	line-height: 17px;
	padding-top: 0px;
	width: 242px;
	height: 66px;
}
.click2{
	display: block;
	margin-bottom: 50px;
}
.click2 button{
	padding: 0px 15px 0px 15px;
	border: 1px solid;
	border-radius: 20px;
	background-color: #f5aa50;
	border: none;
}
.click2 h2{
	font-size: 14px;
	font-family: Roboto;
}
.click2 a{
	font-family: Roboto;
	color: #004936;
	text-decoration: none;
}
.vid{
	display: none;
}
.vidmb{
	display: inline;
}
.vidmb img{
	width: 100%;
}
.text-vidmb{
	width: 100%;	
	position: absolute;
	padding-top: 20px;
}
.vidmb H1{
	font-family: Montserrat;
	color: #004936;
	font-size: 25px;
	line-height: 32px;	
	text-align: center
}
.vidmb p{
	font-family: Roboto;
	color: #497C6D;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
.bot-main{
	display: none;
}
.bot-main h1{
	font-family: Montserrat;
	font-size: 14px;
}
.sologan1{
	display: none;
}
.sologan1mb{
	display: block;
	padding-bottom: 40px;
	background-color: #f6f6ef;
}
.sologan1mb H1{
	font-family: Montserrat;
	text-align: center;
	color: #004936;
	font-size: 25px;
	line-height: 32px;
	padding-top: 30px;
}
.sologan1mb p{
	font-family: Roboto;
	color: #497C6D;
	font-size: 18px;
	text-align: center;
	line-height: 24px;
	height: 48px;	
	width: 232px;
	margin: auto;
	padding-top: 15px;
}
.sologan1mb input{
	font-family: Roboto;
	padding:  15px 0px 15px 0px;
	border: none;
	border-radius: 20px;
	font-size: 14px;
	width: 80%;
	color: #316B5A;
	margin-top: 20px;
}
.sologan1mb button{
	font-family: Roboto;
	font-size: 14px;
	padding:  8px 0px 8px 0px;
	width: 30%;
	color: #004936;
	background:#f5aa50;
	border: none;
	border-radius: 20px;
}
.sologan2{
	display: none;
}
.input{
	margin-top: 10px;
}
.ftdestop{
	display: none;
}
.ftmobile{
	display: block;
}
footer{
	background: #004936;
	padding-top: 20px;
	margin: auto;
}
.im-ft{
	margin:  0px 25px 18px 25px;
	border-bottom: 0.5px solid #316B5A;
	padding-bottom: 18px;
}
.text-ft p{
	margin:  0px 25px 0px 25px;
	font-family: Montserrat;	
	font-size: 16px;	
	padding: 15px 0px 15px 0px;
	color: #F6F6EF;
	border-bottom: 0.5px solid #316B5A;
}
.text2-ft p{
	font-size: 14px;
	line-height: 28px;
	font-family: Roboto;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #F6F6EF;
}
}