.free-shipping-on-ord {
	height: 19px;
	width: 267px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
}
.better-gut-health-ne {
	height: 108px;
	width: 444px;
	color: #004936;
	font-family: Montserrat;
	font-size: 44px;
	font-weight: 500;
	line-height: 54px;
}
.high-fiber-nutritio {
	height: 112px;
	width: 409px;
	color: #000000;
	font-family: Montserrat;
	font-size: 20px;
	line-height: 28px;
}
.benefits-of-muniq {
	height: 49px;
	width: 364px;
	color: #004936;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 500;
	line-height: 49px;
	text-align: center;
}
.group-9 {
	height: 90px;
	width: 87px;
	/* anhbenefit  */
}


.rectangle {
	height: 28px;
	width: 28px;
	border-radius: 3px;
	background-color: #004936;
	/* sum */
}
